*{
    margin:0;
    padding:0;
  }
  .main{
    width: 100%;
    background:url(stock\ img.avif);
    background-position:center;
    height: 110vh;
  }
  .navbar{
    width: 1200px; ;
   height: 75px; ;
   margin:auto ;
  }
  .icon{
    width: 200px;
    float: left;
    height: 70px;
  }
  .logo{
    color: rgba(253, 14, 14, 0.674);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
  }
  .MENU{
     width: 400px;
     height: 70px;
     float: left;
  }
  ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li{
      list-style:none ;
      margin-left: 62px;
      margin-top: 27px;
      font-size: 14px;
  }

  ul li a{
            text-decoration: none;
            color: #fff;
            font-family: Arial;
            font-weight: bold;
            transition: 0.4s ease-in-out;
  }

  ul li a:hover{
          color: orange;
          
  }
  .search{
       justify-content: left;

  }

  
  .btn{
    width: 100px;
    height:40px ;
    background: orangered;
    border: 2px solid orange;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

  .srch{
       font-family: 'Times New Roman';
       width: 200px;
       height: 40px;
       background: transparent;
       border: 1px solid orange;
       margin-top: 13px;
       color: #fff;
       border-right: none;
       font-size: 16px;
       float: inline-end;
       padding: 10px;
       border-bottom-left-radius: 5px;
       border-top-left-radius: 5px;
      
  }

  .btn:focus{
         outline: none;
  }
  .btn:focus{
    outline: none;
  }
  .con{
    color: #fff;
  }

  .sp{
        color: rgb(255, 0, 0);
  }
  
  .CONTENT{
      width: 1200px;
      height: auto;
      margin: auto;
      color: #fff;
      position: relative;
  }

  .par{
    color: #fff;
  }

  .CONTENT.par{
       padding-left: 20px;
       padding-bottom: 25px;
       font-family: Arial;
       letter-spacing: 1.2px;
       line-height: 30px;
  }
  .CONTENT.h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
  }
  .CONTENT.cn{
      width: 160px;
      height:40px ;
      background:orange ;
      border: none;
      margin-bottom: 10px;
      margin-left: 20px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
  }

  .CONTENT.cn{
    text-decoration: none;
    color: black;
    transition: .3s ease;
  }
   .form{
      width: 250px;
      height: 380px;
      background: linear-gradient(to top,rgba(0,0,00.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: -10x;
      left: 1050px;
      border-radius: 10px;
      padding: 25px;

   }

   .as{
    color: #f1f1f1;
    height: 70px;
   }
   .link{
    color: #fff;
   }
   .sin{
    color:white;
   }

   .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: orange;
      font-size: 20px;
      background-color:white;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
   }

   .form input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid orange;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #f3ecec;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
   }
   .form input:focus{
                     outline: none;
   }
   ::placeholder{
        color: #fff;
        font-family: Arial;
   }

  .di{
      width: 100%;
      height: 50%;
  }

  .liw{
    color: #f1f1f1;
  }